* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    scroll-behavior: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

   

#top, #service, #touch {
    min-height: 100vh;
    width: 100%;
    padding: 10px 8%;
}

#service {
    background-color: rgb(63, 62, 62);
    margin-top: 100px;
    min-height: fit-content !important;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.nav-items ul li {
    display: inline-block;
    margin: 0 10px;
    
}

.nav-items ul li a {
    text-align: center;
    opacity: 0.7;
}

.btn {
    font-weight:  bold;
    background-color: rgba(255, 255, 0, 0.801);
    font-size: 25px;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
}

.brief {
    margin-top: 80px;
    font-size: 45px;
    width: 65%;

}

.brief h1 {
    font-weight: 300;
}

.brief p {
    font-size: 24px;
    opacity: 0.7;
    padding-top: 10px;
    font-weight: 300;
}


.brands {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}


.portfolio {
    display: flex;
    justify-content: space-between;
}

.spence, .yelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.yelp img {
    width: 100%;
}
.spence img {
    height: 100%;
}



.spence h2, .yelp h2 {
    padding: 15px 0;
    font-weight: 300;
    font-size: 30px;
}

.spence p , .yelp p {
    font-weight: 300;
    opacity: 0.7;
    font-size: 20px;
    width: 90% !important;
}

.spence *, .yelp * {
    padding: 10px 0;
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}


.first, .second {
    width: 50%;
}

.first *, .second * {
    padding: 15px 0;
}


.first h2 {
    font-size: 43px;
    font-weight: 300;
}

.about p {
    font-weight: 300;
    opacity: 0.7;
    font-size: 20px;
}

#touch {
    background-color: black;
    min-height: fit-content;

}

.signme {
    padding:30px 0 ;
    width: 45%;
}

.signme * {
    padding: 15px 0;
}

.signme h2 {
    font-size: 35px;
}

.signme p {
    font-size: 20px;
    opacity: 0.7;
}

.btn-2 {
    background-color: rgba(255, 255, 0, 0.685);
    padding: 20px;
    width: fit-content;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}


@media (max-width:1280px) {
     .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .spence * , .yelp * {
        width: 100%;
     }
}

@media (max-width:768px) {
    .nav-items, .btn {
        display: none;
    }

    .brief {
        width: 100%;
        font-size: 40px;

    }

    .brands {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
        row-gap: 10px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about * {
        width: 100%;
    }

    .signme {
        width: 100%;
    }
}

@media (max-width:500px) {
    .brands {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        grid-area: center;
    }
}



